{{#each posts}}
<div class="row">
	<div class="col-xs-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 mb-5">
		<article class="post">
			<h2 class="post-title"><a href="/{{this.permalink}}/">{{this.title}}</a></h2>
			<div class="post-meta mb-2">
				By {{this.author}} on <time>{{formatdate this.date}}</time>
			</div>
			<div class="post-excerpt mb-5">{{this.summary}}....</div>
		</article>
	</div>
</div>
{{/each}}
{{!-- Pagination --}}
{{#if config.pagination}}
{{#if shouldPaginate}}
<div class="row">
  <div class="col-xs-12 col-sm-12 mb-4 text-center">
    <p class="text-muted">Page {{page}} of {{pages}}</p>
    <div class="btn-group" role="group">
    {{#if prevPage }}
        <a href="/page/{{prevPage}}" class="btn btn-outline-secondary">&laquo; Prev Page</a>
    {{/if}}
    {{#if nextPage }}
        <a href="/page/{{nextPage}}" class="btn btn-outline-secondary">Next Page &raquo;</a>
    {{/if}}
    </div>
  </div>
</div>
{{/if}}
{{/if}}